
h3{
    font-style: italic;
    color: rgb(235, 117, 117);
}
h4{
    font-style: italic;
    color: rgb(134, 86, 54);
}
#heads{
    border: 0.5px snow;
    padding: 5px;
    background-color: rgb(97, 84, 100);
}
.bodie{
    background-color: rgb(236, 245, 244);
    height: 800px;
}
#tail{
    background-color: khaki;
    text-align: center;
}   
.headingTable{
    border:2px solid grey;
    border-collapse: collapse;
    width: 700px;
}
.tbd{
    border: 0px solid black;
    padding: 4px;
    background-color: aqua;
    width: 700px;
    text-align: center; 
}
.container{
    
    text-align: center;   
}
.row{
    border:1px solid rgb(83, 30, 13);
    text-align: center;  
}
.col{
    border:1px solid;
    text-align: center;  
}
p{
    margin: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    font-style: inherit;
    color: #3f6a00;
    padding-top: 15px;
}
ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: cornflowerblue;
}
ol{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: chocolate;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.img2{
    
    margin-left: 0px;
    margin-right: 5px
}
.img3{
    padding-right: 20px;
}
.footer{
    background-color: khaki;
    text-align: center;
}     